<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sawallianc.dao.CommonInfoDAO">
    <resultMap id="commonMap" type="com.sawallianc.module.CommonInfoDO">
        <id property="id" column="id"/>
        <result property="commonCname" column="common_cname"/>
        <result property="commonEname" column="common_ename"/>
        <result property="content" column="content"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="baseCommon">
        id,common_cname,common_ename,content,gmt_created,gmt_modified,is_deleted
    </sql>

    <select id="getByEname" resultMap="commonMap">
        select <include refid="baseCommon"/>
        from common_info
        where is_deleted=0
        and common_ename=#{ename}
    </select>
</mapper>