<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common2.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/base.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/form.js}"></script>
    <script th:src="@{/js/blockui.js}"></script>
    <script th:src="@{/js/base/context.js}"></script>
</head>
<body style="background:transparent">
<div id="contain" style=" background:url(effect/source/bg/1262661247.gif) repeat-y;margin:0px auto;padding:0px">
    <div id="top" style="height: 779px; background: none;">
        <!-- 图片轮播(S1) -->
        <div id="pdv_17268" class="pdv_class" title="" style="width:100%; height:779px;top:0px;left:0px;  z-index:1">
            <div id="spdv_17268" class="pdv_top" style="overflow:hidden;width:100%;height:100%"><div class="pdv_border" style="border: 0px;">
                <div class="banner">
                    <div class="bd">
                        <ul>
                            <li th:each="image,imageStat:${backgroundImages}" th:style="'background: url(./images/'+${image.imageUri}+') center top no-repeat;'"></li>
                        </ul>
                    </div>
                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
                <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.js"></script>
                <script type="text/javascript" src="/js/common2.js"></script>
            </div>
            </div>
        </div>

        <!-- 二级下拉菜单16 -->

        <div id="pdv_17266" class="pdv_class" style="width:100%; height:101px;top:0px;left:0px;  z-index:2">
            <div id="spdv_17266" class="pdv_top" style="overflow:hidden;width:100%;height:100%"><div class="pdv_border" style="border: 0px; height: 101px;">
                <style>.header {position: fixed;}</style>
                <div class="header">
                    <div class="wrap clearfix">
                        <h1 class="logo"><a href="#" title="">
                            <img src="/images/1505207849.png"/></a></h1>
                        <div class="nav">
                            <ul class="clearfix" id="menus">
                                <li th:each="menu,menuStat:${menus}"><a style="cursor: pointer" th:text="${menu.menuCname}" th:id="${menu.menuEname}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="content" style="width: 1002px; height: 400px; background: none; margin: 0px auto;">


        <!-- 文章列表 -->

        <div id="pdv_17269" class="pdv_class" style="width:511px;height:179px;top:30px;left:0px; z-index:3">
            <div id="spdv_17269" class="pdv_content" style="overflow:hidden;width:100%;height:100%">
                <div class="pdv_border" style="border: 0px; height: 179px; padding: 0px; margin: 0px;">
                    <div class="tittle"><h2 th:text="${children[0].menuCname}"><em>/ NEWS</em></h2><a id="news-more" href="#" class="more" style="display:inline;">+ more</a></div>
                    <div style="margin:0px;padding:0px">

                        <link href="./css/newslist.css" rel="stylesheet" type="text/css"/>
                        <ul class="newslist">
                            <li th:each="list,listStat:${lists}" class="newslist">
                                <a th:text="${list.listTitle}" th:value="${list.id}" href="#" target="_self" class="newslist"></a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <!-- HTML编辑区 -->

        <div id="pdv_17270" class="pdv_class" style="width:467px;height:200px;top:30px;left:535px; z-index:4">
            <div id="spdv_17270" class="pdv_content" style="overflow:hidden;width:100%;height:100%">
                <div class="pdv_border" style="border: 0px; height: 200px; padding: 0px; margin: 0px;">
                    <div class="tittle"><h2 th:text="${children[1].menuCname}"><em>/ ABOUT US</em></h2><a id="about-more" href="#" class="more" style="display:inline;">+ more</a></div>
                    <div style="margin:0px;padding:5px">
                        <span style="line-height:2;"><span th:text="${about.text}" style="color:#505050;font-size:14px;line-height:2;"></span></span>
                    </div>
                </div>

            </div>
        </div>

        <!-- 自定义模版 -->

        <div id="pdv_17271" class="pdv_class" title="" style="width:1002px;height:154px;top:246px;left:0px; z-index:5">
            <div id="spdv_17271" class="pdv_content" style="overflow:hidden;width:100%;height:100%"><div class="pdv_border" style="border: 0px; height: 154px;"><div class="contant">
                <div class="m-tel">
                    <img src="/images/img-2.jpg" alt=""/>
                    <h2>客服热线</h2>
                    <p id="hotline">021-123456</p>
                </div>
                <div class="m-wx">
                    <img src="/images/20150727114020.jpg" width="90" height="90" id="weixin"/>
                    <div class="text">
                        <p>扫一扫二维码</p>
                        <p>关注我们微信</p>
                    </div>
                    <div class="fenxiang" style="background:url(/images/weixint.jpg) no-repeat"></div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    <div id="bottom" style="width: 1002px; height: 34px; background: rgb(0, 0, 0);">


        <!-- 底部信息编辑区 -->

        <div id="pdv_17272" class="pdv_class" title="脚注信息" style="width:1002px;height:29px;top:5px;left:0px; z-index:6">
            <div id="spdv_17272" class="pdv_bottom" style="overflow:hidden;width:100%;height:100%"><div class="pdv_border" style="border: 0px; height: 29px;"><div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
                <p align="center">
                    <span style="color:#FFFFFF;line-height:2;">CopyRight © 2014-2018 All Rights Reserved &nbsp;&nbsp;</span><span style="color:#FFFFFF;line-height:2;">沪ICP备123456789号</span>
                </p>
            </div>
            </div>
            </div>
        </div>
    </div>
</div><div id="bodyex">

</div>
<div id="topex" style="display: none; width: 100%; height: 779px; background: none; top: 0px;">
</div>
<div id="contentex" style="display: none; width: 100%; height: 400px; background: none; top: 779px;">
</div>
<div id="bottomex" style="width: 100%; height: 34px; background: rgb(0, 0, 0); top: 1179px;">
</div>
<div id="advsex"></div>
<div id="advsex1"></div>
<div id="advsex2"></div>
<div id="advsex3"></div>
<div id="advsex4"></div>
<div id="advsex5"></div>
<div id="advsex6"></div>


<script th:inline="javascript">
    $(window).load(function () {
        var name = [[${menuEname}]];
        $("#"+name).attr('style','cursor:pointer;color:#CABA7C');
        $("#"+name).siblings().attr('style','cursor:pointer;');
        $("#hotline").html(getCommonByEname("hotline"));
        $("#weixin").attr('src','./images/'+getCommonByEname("weixin"));
        $('a.newslist').attr('href',getContextPath()+"/news-detail?id="+$('a.newslist').attr('value'));
        $("#news-more").attr('href',getContextPath()+"/news");
        $("#about-more").attr('href',getContextPath()+"/about");
    });
    $("#menus").find('li').find('a').click(function () {
        var i = $(this).attr('id');
        window.location.href=getContextPath()+"/"+i;
    });
</script>
</body>
</html>